*.cm*
*.annot
*.byte
*.opt

*.o
*.a

.depend
.md5sum_*

*.5

/assembler/lexer_asm5.ml
/assembler/parser_asm5.ml
/assembler/parser_asm5.mli
/assembler/parser_asm5.output
/assembler/5a

/linker/5l

/mk/lexer.ml
/mk/parser.ml
/mk/parser.mli
/mk/parser.output
/mk/mk
/graph_code.marshall
/graph_code.marshall.opti
/lex/lexer.ml
/lex/parser.ml
/lex/parser.mli
/lex/parser.output
/lex/ocamllex
/yacc/lexer.ml
/yacc/ocamlyacc
/yacc/parser.ml
/yacc/parser.mli
/yacc/parser.output
/shell/lexer.ml
/shell/parser.ml
/shell/parser.mli
/shell/parser.output
/shell/rc
/compiler/lexer.ml
/compiler/parser.ml
/compiler/parser.mli
/compiler/parser.output
/compiler/5c
/compiler/lexer_cpp.ml
/macroprocessor/lexer_cpp.ml
/kernel/9minimal
