# https://github.com/github/linguist/blob/master/docs/overrides.md
# Don't consider test files in language stats for the repository on Github
tests/** linguist-documentation
# lots of libxxx C code in there that bias the github language stats; skip it
kernel/** linguist-documentation
**/TOPORT/** linguist-documentation
